## Module 2 Homework (2025 Cohort)

In this homework, we're going to combine data from various sources to process it in Pandas and generate additional fields.

If not stated otherwise, please use the [LINK](https://github.com/DataTalksClub/stock-markets-analytics-zoomcamp/blob/main/02-dataframe-analysis/%5B2025%5D_Module_02_Colab_Working_with_the_data.ipynb) covered at the livestream to re-use the code snippets.

### Question 1: [IPO] Withdrawn IPOs by Company Type

**What is the total withdrawn IPO value (in $ millions) for the company class with the highest total withdrawal value?**

From the withdrawn IPO list ([stockanalysis.com/ipos/withdrawn](https://stockanalysis.com/ipos/withdrawn/)), collect and process the data to find out which company type saw the most withdrawn IPO value.

#### Steps:
1. Use `pandas.read_html()` with the URL above to load the IPO withdrawal table into a DataFrame. 
   *It is a similar process to Code Snippet 1 discussed at the livestream.*    You should get **99 entries**.

In [1]:
import numpy as np
import pandas as pd
import requests
from io import StringIO
import yfinance as yf
import pandas_datareader as pdr
import plotly.graph_objs as go
import plotly.express as px
import time
from datetime import date
import matplotlib.pyplot as plt

In [2]:
def IPO_withdrawal_table(url="https://stockanalysis.com/ipos/withdrawn/") -> pd.DataFrame:
    """
    Fetch IPO data for the given year from stockanalysis.com.
    """
    headers = {
        'User-Agent': (
            'Mozilla/5.0 (Windows NT 10.0; Win64; x64) '
            'AppleWebKit/537.36 (KHTML, like Gecko) '
            'Chrome/58.0.3029.110 Safari/537.3'
        )
    }
    try:
        response = requests.get(url, headers=headers, timeout=10)
        response.raise_for_status()
        # Wrap HTML text in StringIO to avoid deprecation warning
        # "Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object."
        html_io = StringIO(response.text)
        tables = pd.read_html(html_io)
        if not tables:
            raise ValueError(f"No tables found for year {year}.")
        return tables[0]
    except requests.exceptions.RequestException as e:
        print(f"Request failed: {e}")
    except ValueError as ve:
        print(f"Data error: {ve}")
    except Exception as ex:
        print(f"Unexpected error: {ex}")
    return pd.DataFrame()

In [3]:
df_withdrawn = IPO_withdrawal_table(url="https://stockanalysis.com/ipos/withdrawn/")
df_withdrawn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Symbol          100 non-null    object
 1   Company Name    100 non-null    object
 2   Price Range     100 non-null    object
 3   Shares Offered  100 non-null    object
dtypes: object(4)
memory usage: 3.2+ KB

2. Create a new column called `Company Class`, categorizing company names based on patterns like:
   - “Acquisition Corp” or “Acquisition Corporation” → `Acq.Corp`
   - “Inc” or “Incorporated” → `Inc`
   - “Group” → `Group`
   - “Ltd” or “Limited” → `Limited`
   - “Holdings” → `Holdings`
   - Others → `Other`

  *  Order: Please follow the listed order of classes and assign the first matched value (e.g., for 'shenni holdings limited', you assign the 'Limited' class).

  * Hint: make your function more robust by converting names to lowercase and splitting into words before matching patterns.

In [4]:
def classify_company(name):
    name = name.lower()
    words = name.split()

    if "acquisition corp" in name or "acquisition corporation" in name:
        return "Acq.Corp"
    elif "inc." in words or "incorporated" in words:
        return "Inc"
    elif "group" in words:
        return "Group"
    elif "ltd" in words or "limited" in words or "ltd." in words:
        return "Limited"
    elif "holdings" in words:
        return "Holdings"
    else:
        return "Other"

df_withdrawn["Company Class"] = df_withdrawn["Company Name"].apply(classify_company)

In [5]:
df_withdrawn['Company Class'].value_counts()

Inc         51
Acq.Corp    21
Limited     17
Other        6
Group        4
Holdings     1
Name: Company Class, dtype: int64

3. Define a new field `Avg. price` by parsing the `Price Range` field (create a function and apply it to the `Price Range` column). Examples:
   - '$8.00-$10.00' → `9.0`  
   - '$5.00' → `5.0`  
   - '-' → `None`

In [6]:
def parse_avg_price(price_range):
    if price_range == '-' or pd.isna(price_range):
        return None
    try:
        parts = price_range.replace('$', '').split('-')
        prices = [float(p.strip()) for p in parts]
        return sum(prices) / len(prices)
    except:
        return None 

df_withdrawn["Avg. price"] = df_withdrawn["Price Range"].apply(parse_avg_price)

In [7]:
df_withdrawn["Avg. price"]

0      NaN
1      3.5
2      NaN
3      NaN
4      NaN
      ...
95     NaN
96     NaN
97    19.5
98     NaN
99    18.5
Name: Avg. price, Length: 100, dtype: float64

4. Convert `Shares Offered` to numeric, clean missing or invalid values.

In [8]:
df_withdrawn["Shares Offered"] = (
    df_withdrawn["Shares Offered"]
    .replace("-", None)
    .str.replace(",", "", regex=False)
    .astype(float)
)

5. Create a new column:  
   `Withdrawn Value = Shares Offered * Avg Price` (**71 non-null values**)

In [9]:
df_withdrawn["Withdrawn Value"] = df_withdrawn["Shares Offered"] * df_withdrawn["Avg. price"]

6. Group by `Company Class` and calculate total withdrawn value.

In [10]:
grouped_withdrawn = (
    df_withdrawn
    .groupby("Company Class")["Withdrawn Value"]
    .sum()
    .sort_values(ascending=False)
)

print(grouped_withdrawn)

Company Class
Acq.Corp    4.021000e+09
Inc         2.257164e+09
Other       7.679200e+08
Limited     5.497346e+08
Holdings    7.500000e+07
Group       3.378750e+07
Name: Withdrawn Value, dtype: float64

In [11]:
top_class = grouped_withdrawn.idxmax()
top_value = grouped_withdrawn.max()

print(f"The company class with the highest total withdrawn value is: {top_class} (${top_value:,.2f})")

The company class with the highest total withdrawn value is: Acq.Corp ($4,021,000,000.00)

### Question 2:   [IPO] Median Sharpe Ratio for 2024 IPOs (First 5 Months)

**What is the median Sharpe ratio (as of 6 June 2025) for companies that went public in the first 5 months of 2024?**

The goal is to replicate the large-scale `yfinance` OHLCV data download and perform basic financial calculations on IPO stocks.

1. Using the same approach as in Question 1, download the IPOs in 2024 from:  
   [https://stockanalysis.com/ipos/2024/](https://stockanalysis.com/ipos/2024/)  
   Filter to keep only those IPOs **before 1 June 2024** (first 5 months of 2024).  
   ➤ You should have **75 tickers**.

In [12]:
df_q2 = IPO_withdrawal_table(url="https://stockanalysis.com/ipos/2024/")
df_q2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 225 entries, 0 to 224
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   IPO Date      225 non-null    object
 1   Symbol        225 non-null    object
 2   Company Name  225 non-null    object
 3   IPO Price     225 non-null    object
 4   Current       225 non-null    object
 5   Return        225 non-null    object
dtypes: object(6)
memory usage: 10.7+ KB

In [13]:
df_q2['IPO Date'] = pd.to_datetime(df_q2['IPO Date'])
df_q2.head()

,IPO Date,Symbol,Company Name,IPO Price,Current,Return
0,2024-12-31,ONEG,OneConstruction Group Limited,$4.00,$4.46,11.50%
1,2024-12-27,PHH,"Park Ha Biological Technology Co., Ltd.",$4.00,$31.00,662.50%
2,2024-12-23,HIT,"Health In Tech, Inc.",$4.00,$0.69,-83.48%
3,2024-12-23,TDAC,Translational Development Acquisition Corp.,$10.00,$10.27,2.70%
4,2024-12-20,RANG,Range Capital Acquisition Corp.,$10.00,$10.20,2.00%

In [14]:
df_q2 = df_q2[(df_q2['IPO Date']<pd.to_datetime('1 June 2024')) & (df_q2['IPO Price']!='-')].copy()

In [15]:
len(df_q2)

75

2.  Use **Code Snippet 7** to download daily stock data for those tickers (via `yfinance`).  
   Make sure you understand how `growth_1d` ... `growth_365d`, and volatility columns are defined.  
   Define a new column `growth_252d` representing growth after **252 trading days** (~1 year), in addition to any other growth periods you already track.

In [16]:
tickers = df_q2['Symbol'].values
print(tickers)

['BOW' 'HDL' 'RFAI' 'JDZG' 'RAY' 'BTOC' 'ZK' 'GPAT' 'PAL' 'SVCO' 'NNE'
 'CCIX' 'VIK' 'ZONE' 'LOAR' 'MRX' 'RBRK' 'NCI' 'MFI' 'YYGH' 'TRSG' 'CDTG'
 'CTRI' 'IBTA' 'MTEN' 'TWG' 'ULS' 'PACS' 'MNDR' 'CTNM' 'MAMO' 'ZBAO'
 'BOLD' 'MMA' 'UBXG' 'IBAC' 'AUNA' 'BKHA' 'LOBO' 'RDDT' 'ALAB' 'INTJ'
 'RYDE' 'LGCL' 'SMXT' 'VHAI' 'DYCQ' 'CHRO' 'UMAC' 'HLXB' 'MGX' 'TBBB'
 'TELO' 'KYTX' 'PMNT' 'AHR' 'LEGT' 'ANRO' 'GUTS' 'AS' 'FBLG' 'AVBP' 'BTSG'
 'HAO' 'CGON' 'YIBO' 'JL' 'SUGP' 'JVSA' 'KSPI' 'CCTG' 'PSBD' 'SYNX' 'SDHC'
 'ROMA']

In [17]:
stocks_df = pd.DataFrame({'A' : []})

for i,ticker in enumerate(tickers):
  print(i,ticker, end=', ')

  # Work with stock prices
  ticker_obj = yf.Ticker(ticker)

  # historyPrices = yf.download(tickers = ticker,
  #                    period = "max",
  #                    interval = "1d")
  historyPrices = ticker_obj.history(
                     period = "max",
                     interval = "1d")

  # generate features for historical prices, and what we want to predict
  historyPrices['Ticker'] = ticker
  historyPrices['Year']= historyPrices.index.year
  historyPrices['Month'] = historyPrices.index.month
  historyPrices['Weekday'] = historyPrices.index.weekday
  historyPrices['Date'] = historyPrices.index.date

  historyPrices['Close'] = historyPrices['Close'].ffill()

  # historical returns
  for i in [1,3,7,30,90,252,365]:
    historyPrices['growth_'+str(i)+'d'] = historyPrices['Close'] / historyPrices['Close'].shift(i)
      
  historyPrices['growth_future_30d'] = historyPrices['Close'].shift(-30) / historyPrices['Close']

  # Technical indicators
  # SimpleMovingAverage 10 days and 20 days
  historyPrices['SMA10']= historyPrices['Close'].rolling(10).mean()
  historyPrices['SMA20']= historyPrices['Close'].rolling(20).mean()
  historyPrices['growing_moving_average'] = np.where(historyPrices['SMA10'] > historyPrices['SMA20'], 1, 0)
  historyPrices['high_minus_low_relative'] = (historyPrices.High - historyPrices.Low) / historyPrices['Close']

  # 30d rolling volatility : https://ycharts.com/glossary/terms/rolling_vol_30
  historyPrices['volatility'] =   historyPrices['Close'].rolling(30).std() * np.sqrt(252)

  # what we want to predict
  historyPrices['is_positive_growth_30d_future'] = np.where(historyPrices['growth_future_30d'] > 1, 1, 0)

  # sleep 1 sec between downloads - not to overload the API server
  time.sleep(1)


  if stocks_df.empty:
    stocks_df = historyPrices
  else:
    stocks_df = pd.concat([stocks_df, historyPrices], ignore_index=True)

0 BOW, 1 HDL, 2 RFAI, 3 JDZG, 4 RAY, 5 BTOC, 6 ZK, 7 GPAT, 8 PAL, 9 SVCO, 10 NNE, 11 CCIX, 12 VIK, 13 ZONE, 14 LOAR, 15 MRX, 16 RBRK, 17 NCI, 18 MFI, 19 YYGH, 20 TRSG, 21 CDTG, 22 CTRI, 23 IBTA, 24 MTEN, 25 TWG, 26 ULS, 27 PACS, 28 MNDR, 29 CTNM, 30 MAMO, 31 ZBAO, 32 BOLD, 33 MMA, 34 UBXG, 35 IBAC, 36 AUNA, 37 BKHA, 38 LOBO, 39 RDDT, 40 ALAB, 41 INTJ, 42 RYDE, 43 LGCL, 44 SMXT, 45 VHAI, 46 DYCQ, 47 CHRO, 48 UMAC, 49 HLXB, 50 MGX, 51 TBBB, 52 TELO, 53 KYTX, 54 PMNT, 55 AHR, 56 LEGT, 57 ANRO, 58 GUTS, 59 AS, 60 FBLG, 61 AVBP, 62 BTSG, 63 HAO, 64 CGON, 65 YIBO, 66 JL, 67 SUGP, 68 JVSA, 69 KSPI, 70 CCTG, 71 PSBD, 72 SYNX, 73 SDHC, 74 ROMA,

In [18]:
stocks_df

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Ticker,Year,Month,...,growth_90d,growth_252d,growth_365d,growth_future_30d,SMA10,SMA20,growing_moving_average,high_minus_low_relative,volatility,is_positive_growth_30d_future
0,23.000000,24.270000,22.139999,23.799999,3335800,0.0,0.0,BOW,2024,5,...,NaN,NaN,NaN,1.092017,NaN,NaN,0,0.089496,NaN,1
1,24.260000,26.150000,23.980000,25.700001,990500,0.0,0.0,BOW,2024,5,...,NaN,NaN,NaN,0.998054,NaN,NaN,0,0.084436,NaN,0
2,25.850000,26.879999,25.075001,26.480000,555100,0.0,0.0,BOW,2024,5,...,NaN,NaN,NaN,1.001133,NaN,NaN,0,0.068165,NaN,1
3,26.440001,26.490000,25.500999,26.290001,302700,0.0,0.0,BOW,2024,5,...,NaN,NaN,NaN,0.987828,NaN,NaN,0,0.037619,NaN,0
4,27.209999,27.209999,25.500000,26.139999,200900,0.0,0.0,BOW,2024,5,...,NaN,NaN,NaN,1.037490,NaN,NaN,0,0.065417,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23457,2.850000,2.935000,2.790000,2.795000,10200,0.0,0.0,ROMA,2025,6,...,4.092240,5.008960,NaN,NaN,3.087,2.89955,1,0.051878,9.469241,0
23458,2.883000,2.900000,2.730000,2.790000,33600,0.0,0.0,ROMA,2025,6,...,4.182909,5.157116,NaN,NaN,2.990,2.93555,1,0.060932,9.196931,0
23459,2.960000,3.120000,2.700000,2.780000,123300,0.0,0.0,ROMA,2025,6,...,4.476651,5.325670,NaN,NaN,2.911,2.97355,0,0.151079,9.001998,0
23460,2.760000,2.927000,2.700000,2.850000,169800,0.0,0.0,ROMA,2025,6,...,4.560000,5.317164,NaN,NaN,2.826,3.01655,0,0.079649,8.804717,0
23461,2.720000,2.899900,2.719100,2.850000,66377,0.0,0.0,ROMA,2025,6,...,4.913793,5.533981,NaN,NaN,2.825,3.04400,0,0.063439,8.632894,0

3. Calculate the Sharpe ratio assuming a risk-free rate of **4.5%**:

   ```python
   stocks_df['Sharpe'] = (stocks_df['growth_252d'] - 0.045) / stocks_df['volatility']
   ```

   ⚠️ **IMPORTANT** Please use the original version of annualized volatility calculation (it was later corrected to another formula):
   ```python
   stocks_df['volatility'] =   stocks_df['Close'].rolling(30).std() * np.sqrt(252)
   ```

In [19]:
stocks_df['volatility'] =   stocks_df['Close'].rolling(30).std() * np.sqrt(252)
stocks_df['Sharpe'] = (stocks_df['growth_252d'] - 0.045) / stocks_df['volatility']

4. Filter the DataFrame to keep data only for the trading day:  
   **‘2025-06-06’**

   Compute descriptive statistics (e.g., `.describe()`) for these columns:  
   - `growth_252d`  
   - `Sharpe`

   You should observe:  
   - `growth_252d` is defined for **71 out of 75 stocks** (some IPOs are too recent or data starts later).  
   - Median `growth_252d` is approximately **0.75** (indicating a 25% decline), while mean is about **1.15**, showing a bias towards high-growth companies pushing the average up.

In [20]:
filter_stocks = stocks_df[stocks_df.Date == pd.to_datetime('2025-06-06')]
filter_stocks[['growth_252d', 'Sharpe']].describe()

/Users/Frank/opt/anaconda3/lib/python3.9/site-packages/pandas/core/ops/array_ops.py:73: FutureWarning: Comparison of Timestamp with datetime.date is deprecated in order to match the standard library behavior. In a future version these will be considered non-comparable. Use 'ts == pd.Timestamp(date)' or 'ts.date() == date' instead.
  result = libops.scalar_compare(x.ravel(), y, op)

       growth_252d     Sharpe
count    71.000000  71.000000
mean      1.152897   0.288285
std       1.406017   0.519028
min       0.024970  -0.079677
25%       0.293422   0.041215
50%       0.758065   0.083768
75%       1.362736   0.311507
max       8.097413   2.835668

5. **Answer:**  
   - What is the **median Sharpe ratio** for these 71 stocks?  
   - Note: Positive `Sharpe` means growth exceeding the risk-free rate of 4.5%.  
   - [Additional] Do you observe the **same top 10 companies** when sorting by `growth_252d` versus sorting by `Sharpe`?

In [21]:
print(f"As of 2025-06-06, the median Sharpe Ratio across 71 companies is {filter_stocks['Sharpe'].median():.3f}")

As of 2025-06-06, the median Sharpe Ratio across 71 companies is 0.084

## Question 3: [IPO] ‘Fixed Months Holding Strategy’

**What is the optimal number of months (1 to 12) to hold a newly IPO'd stock in order to maximize average growth?**  
(*Assume you buy at the close of the first trading day and sell after a fixed number of trading days.*)

#### Goal:
Investigate whether holding an IPO stock for a fixed number of months after its first trading day produces better returns, using future growth columns.

## 1. **Start from the existing DataFrame** from Question 2 (75 tickers from IPOs in the first 5 months of 2024).  

   Add **12 new columns**:  
   `future_growth_1m`, `future_growth_2m`, ..., `future_growth_12m`  
   *(Assume 1 month = 21 trading days, so growth is calculated over 21, 42, ..., 252 trading days)*  
   This logic is similar to `historyPrices['growth_future_30d']` from **Code Snippet 7**, but extended to longer timeframes.

In [22]:
def month_growth(df, months=12):
    df_sorted = df.sort_values(['Ticker', 'Date'])
    df_sorted = df_sorted.set_index('Date')

    for m in range(1, months+1):
        df_sorted[f'growth_future_{m}m'] = (
            df_sorted.groupby('Ticker')['Close'].shift(-21 * m) / df_sorted['Close']
        )
    return df_sorted.reset_index()

month_growth = month_growth(stocks_df)

2. **Determine the first trading day** (`min_date`) for each ticker.  
   This is the earliest date in the data for each stock.

In [23]:
first_trading_day = month_growth.groupby('Ticker').Date.agg('min').reset_index()

3. **Join the data**:  
   Perform an **inner join** between the `min_date` DataFrame and the future growth data on both `ticker` and `date`.  
   ➤ You should end up with **75 records** (one per IPO) with all 12 `future_growth_...` fields populated.

In [24]:
join = month_growth.merge(first_trading_day, on=['Ticker', 'Date'], how='inner')

4. **Compute descriptive statistics** for the resulting DataFrame:  
   Use `.describe()` or similar to analyze each of the 12 columns:  
   - `future_growth_1m`  
   - `future_growth_2m`  
   - ...  
   - `future_growth_12m`

In [25]:
join.describe().T

,count,mean,std,min,25%,50%,75%,max
Open,75.0,1.560970e+01,1.755162e+01,0.010700,4.770000,1.000000e+01,2.187500e+01,1.032500e+02
High,75.0,1.783126e+01,1.928201e+01,0.015700,5.700000,1.020000e+01,2.343000e+01,1.035000e+02
Low,75.0,1.430300e+01,1.669696e+01,0.006200,3.602500,1.000000e+01,1.912500e+01,9.503000e+01
Close,75.0,1.584826e+01,1.824052e+01,0.011600,4.140000,1.004000e+01,1.990000e+01,9.800000e+01
Volume,75.0,5.341061e+06,8.882742e+06,600.000000,733200.000000,1.992600e+06,5.451900e+06,4.870550e+07
Dividends,75.0,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00
Stock Splits,75.0,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00
Year,75.0,2.024000e+03,0.000000e+00,2024.000000,2024.000000,2.024000e+03,2.024000e+03,2.024000e+03
Month,75.0,3.280000e+00,1.664900e+00,1.000000,2.000000,3.000000e+00,4.000000e+00,9.000000e+00
Weekday,75.0,2.773333e+00,1.225554e+00,0.000000,2.000000,3.000000e+00,4.000000e+00,4.000000e+00
growth_1d,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
growth_3d,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
growth_7d,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
growth_30d,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
growth_90d,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
growth_252d,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
growth_365d,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
growth_future_30d,75.0,9.147211e-01,4.002810e-01,0.077263,0.692500,9.750000e-01,1.086746e+00,3.030828e+00
SMA10,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
SMA20,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
growing_moving_average,75.0,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00
high_minus_low_relative,75.0,3.368159e-01,4.589880e-01,0.001994,0.053368,2.078027e-01,4.284166e-01,3.068965e+00
volatility,74.0,5.888155e+01,6.417880e+01,1.727327,13.847525,3.632791e+01,7.146293e+01,2.636855e+02
is_positive_growth_30d_future,75.0,4.533333e-01,5.011698e-01,0.000000,0.000000,0.000000e+00,1.000000e+00,1.000000e+00
Sharpe,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
growth_future_1m,75.0,9.272590e-01,3.462607e-01,0.098947,0.778984,9.770000e-01,1.046509e+00,2.646505e+00
growth_future_2m,75.0,9.407486e-01,5.742670e-01,0.073800,0.685815,1.000000e+00,1.154013e+00,4.874759e+00
growth_future_3m,75.0,8.339879e-01,4.094803e-01,0.060947,0.511212,9.275000e-01,1.069085e+00,2.040000e+00
growth_future_4m,75.0,8.251920e-01,4.017722e-01,0.045368,0.517233,9.090909e-01,1.134300e+00,1.605000e+00
growth_future_5m,75.0,8.038486e-01,4.882256e-01,0.054109,0.448403,8.210923e-01,1.016381e+00,3.213873e+00
growth_future_6m,75.0,8.642670e-01,6.530784e-01,0.061432,0.384560,8.022388e-01,1.093948e+00,3.670520e+00
growth_future_7m,75.0,8.472051e-01,7.128797e-01,0.048274,0.296870,8.448754e-01,1.114468e+00,5.122350e+00
growth_future_8m,75.0,8.330455e-01,7.623550e-01,0.043103,0.208677,8.121086e-01,1.082346e+00,5.171484e+00
growth_future_9m,75.0,8.818461e-01,9.368935e-01,0.033144,0.226740,8.227147e-01,1.049719e+00,6.764933e+00
growth_future_10m,74.0,9.179907e-01,9.113830e-01,0.041357,0.242424,7.725918e-01,1.200647e+00,5.352601e+00
growth_future_11m,74.0,8.830565e-01,8.629018e-01,0.023674,0.264661,7.175849e-01,1.106726e+00,4.445545e+00
growth_future_12m,71.0,9.016643e-01,8.926583e-01,0.038947,0.229211,6.593549e-01,1.136392e+00,4.849711e+00

5. **Determine the best holding period**:  
   - Find the number of months **(1 to 12)** where the **average (mean)** future growth is **maximal**.  
   - This optimal month shows an uplift of **>1%** compared to all others.  
   - Still, the average return remains **less than 1** (i.e., expected return is less than doubling your investment).

In [28]:
monthly_means = join[join.columns[-12:]].describe().iloc[1].sort_values(ascending=False)
best_month = monthly_means.index[0]
best_value = monthly_means.iloc[0]
print(f"The optimal holding period is **{best_month}**, with an average future growth of {best_value:.2f}, which is >1% higher than all other periods and still under 1.0x (no doubling).")

The optimal holding period is **growth_future_2m**, with an average future growth of 0.94, which is >1% higher than all other periods and still under 1.0x (no doubling).

### Question 4: [Strategy] Simple RSI-Based Trading Strategy


**What is the total profit (in thousands) you would have earned by investing $1000 every time a stock was oversold (RSI < 25)?**


#### Goal:
Apply a simple rule-based trading strategy using the **Relative Strength Index (RSI)** technical indicator to identify oversold signals and calculate profits.

1. **Run the full notebook from Lecture 2 (33 stocks)**  
   - Ensure you can generate the merged DataFrame containing:  
     - OHLCV data  
     - Technical indicators  
     - Macro indicators  
   - Focus on getting **RSI** computed using **Code Snippets 8 and 9**.  
   - This process is essential and will help during the capstone project.